<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="panel panel-info">
    <div class="panel-heading">Introduction</div>
    <div class="panel-body">
        <%= @user.introduction %>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Email</div>
    <div class="panel-body">
        <%= @user.email %>
    </div>
</div>
